:root {
--color00: #fbf1c7;
--color01: #fbf1c7;
--color02: #fbf1c7;
--color03: #514036;
--color04: #514036;
--color05: #514036;
--color06: #514036;
--color07: #514036;
--color08: #bd4848;
--color09: #9d6207;
--color0A: #9d6207;
--color0B: #69752d;
--color0C: #4b795c;
--color0D: #45707a;
--color0E: #945e80;
--color0F: #bd4848;
}
