:root {
--color00: #282828;
--color01: #282828;
--color02: #282828;
--color03: #d4be98;
--color04: #d4be98;
--color05: #d4be98;
--color06: #d4be98;
--color07: #d4be98;
--color08: #ea6962;
--color09: #d8a657;
--color0A: #d8a657;
--color0B: #a9b665;
--color0C: #89b482;
--color0D: #7daea3;
--color0E: #d3869b;
--color0F: #ea6962;
}
