    /**
    * @name Omarchy
    * @author @bypass_
    * @version 0.1.0
    * @description Match Omarchy system theme.
    * @source https://github.com/imbypass/base16-Discord
    **/

@import url("https://imbypass.github.io/base16-discord/omarchy-discord.theme.css");

:root {
  --color00: #f9f5d7; /* background */
  --color01: #f9f5d7;
  --color02: #f9f5d7;

  --color03: #514036;
  --color04: #514036;
  --color05: #514036;
  --color06: #514036;
  --color07: #514036;
  --color08: #514036;

  --color09: #bd4848; /* red */
  --color10: #69752d; /* green */
  --color11: #b15509; /* yellow/orange */
  --color12: #45707a; /* blue */
  --color13: #945e80; /* magenta */
  --color14: #4b795c; /* cyan */
  --color15: #9d6207; /* bright yellow */
}
