@define-color selected-text #9d6207;
@define-color text #3c3836;
@define-color base #fbf1c7;
@define-color border #3c3836;
@define-color foreground #514036;
@define-color background #f9f5d7;


/* ===== Outer frame ===== */
window .box-wrapper {
  background: #f9f5d7;
  padding: 10px;
  border: 3px solid #7c6f64;
  border-radius: 8px;
  margin: 0;
}

/* ===== Inner frame ===== */
window .content {
  border: 2px solid #9d6207;        /* inner gold */
  padding: 4px;
}

/* ===== Search bar ===== */
window .search-container {
  background: #f5edca;
  border: 2px solid #7c6f64;
  border-radius: 8px;
  margin-bottom: 8px;
}

window .input {
  color: #514036;
  padding: 3px;
  font-weight: 700;
}

window .placeholder {
  color: #514036;
  opacity: 0.4;
}

/* ===== List items ===== */
child {
  background: transparent;
  padding: 2px;
  margin: 0;
  border: none;
}

/* ===== Hover ===== */
child:hover {
  background: #f3eac7;
}

/* ===== Selected item ===== */
child:selected {
  background: #45707a;              /* blue highlight */
  border-radius : 8px;
}

/* ===== Icon ===== */
child image {
  margin-right: 10px;
}

/* ===== App name ===== */
child label {
  color: #bd4848;                   /* red app name */
  font-weight: 800;
}

/* ===== Category text ===== */
child label.secondary {
  color: #514036;
  font-style: italic;
  font-weight: 400;
}

/* ===== Selected text colors ===== */
child:selected label {
  color: #f9f5d7;
}

child:selected label.secondary {
  color: #f5edca;
}

/* Slimmer selection bar */
child:selected {
  padding-top: 1px;
  padding-bottom: 1px;
}
