* {
  padding: 0;
  margin: 0;
  min-height: 0;
  border-radius: 0;
  border: none;
  text-shadow: none;
  transition: none;
  box-shadow: none;
}

/* the whole window */
window#waybar {
  color: #3c3836;
  background: none;
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 10pt;
  font-weight: 900;
}

.modules-left,
.modules-center,
.modules-right {
  padding: 2.5pt;
  background: #f5edca;
}

#window,
#disk,
#cpu,
#custom-cpu_temp,
#custom-cpu_temp.critical,
#backlight,
#custom-memory,
#pulseaudio,
#pulseaudio.muted,
#battery,
#battery.critical,
#battery.warning,
#network,
#clock {
  padding: 0 1.5pt;
}

#custom-rofi {
  color: #45707a;
  border: 2pt solid #45707a;
  padding: 0 6pt; /* 8px */
}

#workspaces button {
  color: #3c3836;
  background: #f5edca;
  border: 2pt solid #3c3836;
  margin-right: 3pt;
  min-width: 15pt;
  padding: 0 3.75pt;
}

#workspaces button:last-child {
  margin-right: 0;
}

#workspaces button:hover {
  color: #945e80;
  border-color: #945e80;
}

#workspaces button.visible,
#workspaces button.visible:hover,
#workspaces button.active,
#workspaces button.active:hover {
  color: #427b58;
  border-color: #427b58;
}

#workspaces button.urgent {
  color: #bd4848;
  border-color: #bd4848;
}

#window {
  border: 2pt solid #945e80;
}

#tray {
  background: #f5edca;
  border: 2pt solid #b15509;
  padding: 0 6pt;
}

#disk {
  border: 2pt solid #bd4848;
}

#cpu {
  border: 2pt solid #b15509;
}

#custom-cpu_temp {
  border: 2pt solid #9d6207;
}

#custom-cpu_temp.critical {
  color: #9d0006;
  border: 2pt solid #9d0006;
}

#custom-cpu_temp.unknown {
  border: 2pt solid #928374;
}

#backlight {
  border: 2pt solid #9d6207;
}

#custom-memory {
  border: 2pt solid #076678;
}

#pulseaudio {
  border: 2pt solid #45707a;
}

#pulseaudio.muted {
  border: 2pt solid #bd4848;
  color: #bd4848;
}

#battery {
  border: 2pt solid #427b58;
}

#battery.critical {
  border: 2pt solid #9d0006;
}

#battery.warning {
  border: 2pt solid #b15509;
}

#clock {
  border: 2pt solid #427b58;
}

#network {
  border: 2pt solid #945e80;
}

#mode,
#submap {
  background: #f5edca;
  color: #45707a;
  border: 2pt solid #45707a;
  padding: 0 7.5pt;
}
